body {
  margin: 20px;
  font-family: "Poetsen One";
}

.profile-picture {
  width: 220px;
}

.main {
  width: 600px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding: 20px;
  margin: 150px auto;
  background-color: #ddebf8;
  color: #393e46;
  border-bottom: 6px solid #d8cefe;
}

p {
  font-size: 20px;
}
